<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<div class="dashboard">
  <table class="overview">
    <tr>
      <td>
        <h1><%= @containers.select { |container| container.state == "running" }.count %></h1>
        <p> Running </p>
      </td>
      <td>
        <h1><%= @containers.select { |container| container.state == "restarting" }.count %></h1>
        <p> Starting... </p>
      </td>
      <td>
        <h1><%= @containers.select { |container| container.state == "off" }.count %></h1>
        <p> inactive </p>
      </td>
    </tr>
  </table>
</div>
