@import url(http://fonts.googleapis.com/css?family=Advent+Pro:300);

$header-height:100px;

@mixin sidebar-container-visible {
  display: block;
}

@mixin column-header {
  height: 70px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #aaa;

  h1, h2 {
    text-align: center;
    font-size: 1.1em;
    color: #aaa;
    font-weight: normal;
    margin: 0;
    padding-bottom: 15px;
    border: none;
    vertical-align: bottom;
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}

html, body {
  height: 100%;
  font-size: 13px;
  font-family: Helvetica, arial, sans-serif;
}

nav.navbar {
  height: $header-height;
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  background: whitesmoke;
  border: none;

  .navbar-header {
    width: 100%;

    a {
      float: none;
      width: 100%;
      text-align: center;
      display: inline-block;
      text-transform: uppercase;
      margin-top: 15px;
      font-family: 'Advent Pro', sans-serif;
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 2em;
      margin-left: 0 !important;
      &:hover {
        color:#9d9d9d;
      }
    }
  }
}

body > .container-fluid {
  height: calc(100% - #{$header-height});
  position: relative;
  top: $header-height;
  .row {
    height: 100%;
  }
}

.sidebar, .main {
  overflow-y: auto;
  height: 100%;
  padding: 0 20px;
}
