@import url(http://fonts.googleapis.com/css?family=Advent+Pro:300);

$header-height:100px;

@mixin sidebar-container-visible {
  display: block;
}

@mixin column-header {
  height: 70px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #aaa;

  h1, h2 {
    text-align: center;
    font-size: 1.1em;
    color: #aaa;
    font-weight: normal;
    margin: 0;
    padding-bottom: 15px;
    border: none;
    vertical-align: bottom;
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}

html, body {
  height: 100%;
  font-size: 13px;
  font-family: Helvetica, arial, sans-serif;
}

nav.navbar {
  height: $header-height;
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  background: whitesmoke;
  border: none;

  .navbar-header {
    width: 100%;

    a {
      float: none;
      width: 100%;
      text-align: center;
      display: inline-block;
      text-transform: uppercase;
      margin-top: 15px;
      font-family: 'Advent Pro', sans-serif;
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 2em;
      margin-left: 0 !important;
      &:hover {
        color:#9d9d9d;
      }
    }
  }
}

body > .container-fluid {
  height: calc(100% - #{$header-height});
  position: relative;
  top: $header-height;
  .row {
    height: 100%;
  }
}

.sidebar, .main {
  overflow-y: auto;
  height: 100%;
  padding: 0 20px;
}

.sidebar {
  .states {
    header {
      @include column-header;
    }
    .active {
      .docker-container {
        display: block;
      }
    }
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      ul {
        opacity: 0;
        overflow: hidden;
        transition: all .5s;
        margin-top: 15px;
        li {
          padding: 5px 0;
          &.current {
            background: whitesmoke;
          }
        }
      }
    }

    &.ready ul {
      opacity: 1;
    }
  }
  .docker-container {
    width: 100%;
    position: relative;
    height: 20px;
    padding-left: 15px;

    &::before {
      content: "";
      background: #444;
      height: 80%;
      width: 5px;
      position: absolute;
      top: 10%;
      left: 0;
      border-radius: 35px;
    }

    a {
      color: black;
      display: inline-block;
      height: 100%;
      line-height:20px;
    }

    &[data-state="running"]::before  {
      background: #00CCCC;
    }

    &[data-state="restarting"]::before  {
      background: #CCCC00;
    }

    &[data-state="off"]::before {
      background: #efefef;
    }

    .label {
      display: none;
    }
  }
}

.main {
  header {
    @include column-header;

    a {
      position: absolute;
      bottom: 10px;
      right: 0;
      &.active {
        display: none
      }
    }
  }
  .page-header {

    color: black;
    font-size: 1.3em;
  }

  #containerinfo {
    margin: 0 auto;
    font-size:1.05em;
    height: 70px;
    td {
      padding: 0 10px;
      span.name {
        color: #bbb;
      }
      span.separator:last-child {
        display:none;
      }
      &::after {
        content:"/";
        color: #bbb;
        padding-left: 20px;
      }
    }
  }
  .log-lines {
    background: #8A9999;
    padding: 10px;
    height: calc(100% - 90px);
    overflow-y: auto;
    pre {
      background: transparent;
      color: whitesmoke;
      border: none;
    }
  }

  .pre-scrollable {
    height: calc(100% - 20px);
    max-height: none;
    border-top: 0;
  }

  .view {
    display: none;
    height: calc(100% - 70px);
    &.active {
      display: block;
    }
  }
}
